.word-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .word-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 200px;
    cursor: pointer;
  }

  .word-card-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 200px;
    cursor: pointer;
  }

  .chosen {
    background-color: #FFD700;
  }
  
  .english-word {
    font-size: 20px;
    font-weight: bold;
  }
  
  .hebrew-word {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .sentence {
    font-size: 14px;
    margin-top: auto;
  }
  